

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    &__box{
        display: flex;
        gap: 2rem;
        text-align: center;
        margin-top: 2rem;
    }

    &__titre{
        font-size: 2rem;
        font-weight: bold;
        color: var(--text-color);
        margin-bottom: 3rem;
    }

    &__liste{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__logo{
        margin-bottom: 2rem;
    }

    &__content{

        a{
            &:hover{
                color: var(--main-color);
            }
        }

        &--link{
            cursor: pointer;
            &:hover{
                color: var(--main-color);
            }
        }

        
    }
}

@media only screen and (min-width: 768px){
    .contact{
        margin-top: 20vh;
    }
}